.news__home {
 margin-bottom: 60px;
}

.wrapp__news__aware {
}

.news__title {
 max-width: 454px;
 width: 100%;
 font-size: 60px;
 line-height: 93%;
 font-weight: 400;
 margin-bottom: 75px;
}

.last__world {
 color: #333D51;
 font-size: 60px;
 line-height: 93%;
 text-transform: lowercase;
 color: #004FEC;
}

.news__list {
 display: flex;
 flex-wrap: wrap;
}
