$jusContent: space-between !default;

:root {
 --color-bg: #333D51;
 --color-active: #004FEC;
}

@mixin flexible ($jusContent) {
 display: flex;
 justify-content: $jusContent;
 align-items: center;
}
@mixin fontSize ($fontSize, $step) {
 font-size: $fontSize;
 line-height: $fontSize + $step;
}

.container__outlet {
 padding: 90px 0;
 max-width: 1110px;
 width: 100%;
 margin: 0 auto;
}

.head {
 @include flexible ($jusContent);
 padding: 45px 0;
}

.menu {
 @include flexible ($jusContent);
}

.menu > a {
 @include fontSize(18px, 4);
 font-family: 'Proxima Nova Th';
 font-weight: 400;
 display: block;
 color: var(--color-bg);
 &:hover {
  color: var(--color-active);
 }
 &:not(:first-child) {
  margin-left: 35px;
 }
}

a.nav-linkactive__my {
 transform: scale(1.2);
 color: var(--color-active);
 font-weight: bold;
}



